:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  padding: 10px;
  width: 80%;
  gap: 10px;
}

hr {
  width: calc(100% + 20px);
  margin-left: -10px;
}